<!DOCTYPE HTML>
<html> 
	<head> 
		<title>Crime Data Visualization</title> 
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	</head>
	<body>
		<script>
			var incidents = [];
			var res = [];	
		</script>
		{% for type in incidents %}
			<script>
				var type = "{{ type }}";
				incidents.push(type);
			</script>
		{% endfor %}
		{% for freq in res %}
			<script>
				var tmp = "{{ freq }}";
				res.push(parseInt(tmp));
			</script>
		{% endfor %}
		<div id="container" style="width:100%; height:400px;"></div>

		<form action="{% url 'dv:index' %}" method="post">
		{% csrf_token %}
		<p>Places</p>
		{% for place in places %}
		<input type="checkbox" name="place{{ forloop.counter }}" value="{{ place }}">{{ place }}<br>
		{% endfor %}
		<br>
		<p>Years</p>
		{% for year in years %}
		<input type="checkbox" name="year{{ forloop.counter }}" value="{{ year }}">{{ year }}<br>
		{% endfor %}
		<br>
		<p>Month</p>
		{% for month in months %}
		<input type="checkbox" name="month{{ forloop.counter }}" value="{{ month }}">{{ month }}<br>
		{% endfor %}
		<br>
		<input type="submit" value="Set" />

		</form>

		<script>
			$(document).ready(function(){
    				var myChart = Highcharts.chart('container', {
        			chart: {
            				type: 'bar'
        			},
        			title: {
            				text: 'Crime Records'
        			},
        			xAxis: {
            				categories: incidents
        			},
        			yAxis: {
            				title: {
                				text: 'Frequency'
            				}
        			},
        			series: [{
            				name: 'Crime Frequency',
            				data: res
        				}]
    				});
			});
		</script>
	</body>
</html>
