<!DOCTYPE HTML>
<html> 
	<head> 
		<title>Crime Data Visualization</title> 
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>



		<input type="radio" name="mychart" class="mychart" id= "column" value="column" onclick= "chartfunc()" checked>Column
		<input type="radio" name="mychart" class="mychart" id= "bar" value="bar" onclick= "chartfunc()">Bar
		<input type="radio" name="mychart" class="mychart" id= "pie" value="pie" onclick= "chartfunc()">Pie
		<input type="radio" name="mychart" class="mychart" id= "line" value="line" onclick= "chartfunc()">Line
	</head>
	<body>
		<script>
			var incidents = [];
			var res = [];	
		</script>
		{% for type in incidents %}
			<script>
				var type = "{{ type.incident }}";
				incidents.push(type);
			</script>
		{% endfor %}
		{% for freq in res %}
			<script>
				var tmp = "{{ freq }}";
				res.push(parseInt(tmp));
			</script>
		{% endfor %}

		<div id="container" style="width:100%; height:400px;"></div>


		<form action="{% url 'dv:index' %}" method="post">
		{% csrf_token %}
		<p>Places</p>
		{% for place in places %}
			{% if place.setted %}
				<input type="checkbox" name="place{{ forloop.counter }}" value="{{ place.place }}" checked >{{ place.place }}<br>
			{% else %}
				<input type="checkbox" name="place{{ forloop.counter }}" value="{{ place.place }}" >{{ place.place }}<br>
			{% endif %}
		{% endfor %}
		<br>
		<p>Years</p>
		{% for year in years %}
			{% if year.setted %}
				<input type="checkbox" name="year{{ forloop.counter }}" value="{{ year.year }}" checked >{{ year.year }}<br>
			{% else %}
				<input type="checkbox" name="year{{ forloop.counter }}" value="{{ year.year }}">{{ year.year }}<br>
			{% endif %}
		{% endfor %}
		<br>
		<p>Month</p>
		{% for month in months %}
			{% if month.setted %}
				<input type="checkbox" name="month{{ forloop.counter }}" value="{{ month.month }}" checked >{{ month.month }}<br>
			{% else %}
				<input type="checkbox" name="month{{ forloop.counter }}" value="{{ month.month }}">{{ month.month }}<br>
			{% endif %}
		{% endfor %}
		<br>
		<input type="submit" value="Set" />

		</form>

		<script>
			$(function () {    
				Highcharts.setOptions({
        				chart: {
            					backgroundColor: {
                					linearGradient: [0, 235, 500, 500],
                					stops: [
                    						[0, 'rgb(235, 245, 235)'],
                    						[1, 'rgb(240, 140, 155)']
                    					]
            					},
            					borderWidth: 5,
            					plotBackgroundColor: 'rgba(0, 0, 0, .9)',
            					plotShadow: true,
            					plotBorderWidth: 5
        				}
    				});

			// Create the chart

			var options = {
			    chart: {
			       events: {
			            drilldown: function (e) {
			                if (!e.seriesOptions) {

			                    var chart = this;

			                        

			                    // Show the loading label
			                    chart.showLoading('Loading ...');

			                    setTimeout(function () {
			                        chart.hideLoading();
			                        chart.addSeriesAsDrilldown(e.point, series);
			                    }, 1000); 
			                }

			            }
			        },
			        plotBorderWidth: 0
			    },

			    title: {
			        text: 'Chart Title',
			    },
			    //
			    subtitle: {
			            text: 'Subtitle'
			    },
			    //
			    xAxis: {
			            categories: incidents,
			    },
			    //
			    yAxis: {

        				title: {
            				text: 'Frequency'
        				}     
			    },
			    //
			    legend: {
			        enabled: true,
			    },
			    //
			    plotOptions: {
			        series: {
			            pointPadding: 0.2,
			            borderWidth: 0,
			            dataLabels: {
			                enabled: true
			            }
			        },
			        pie: {
			            plotBorderWidth: 0,
			            allowPointSelect: true,
			            cursor: 'pointer',
			            size: '100%',
			            dataLabels: {
			                enabled: true,
			                format: '{point.name}: <b>{point.y}</b>'
			            }
			        }
			    },
			    //
			     series: [{
    				name: 'Crime Frequency',
    				data: res
				}],
			    //
			    drilldown: {
			        series: []
			    }
			};

			// Column chart
			options.chart.renderTo = 'container';
			options.chart.type = 'column';
			var chart1 = new Highcharts.Chart(options);

			chartfunc = function()
			{
			var column = document.getElementById('column');
			var bar = document.getElementById('bar');
			var pie = document.getElementById('pie');
			var line = document.getElementById('line');

			        
			if(column.checked)
			    {
			        
			        options.chart.renderTo = 'container';
			        options.chart.type = 'column';
			        var chart1 = new Highcharts.Chart(options);
			    }
			else if(bar.checked)
			    {
			        options.chart.renderTo = 'container';
			        options.chart.type = 'bar';
			        var chart1 = new Highcharts.Chart(options);
			    }
			else if(pie.checked)
			    {
			        options.chart.renderTo = 'container';
			        options.chart.type = 'pie';
			        var chart1 = new Highcharts.Chart(options);
			    }
			else
			    {
			        options.chart.renderTo = 'container';
			        options.chart.type = 'line';
			        var chart1 = new Highcharts.Chart(options);
			    }

			}

			$('#change_chart_title').click(function(){
			    var new_title = $('#chart_title').val();
			    var chart = $('#container').highcharts();
			    chart.setTitle({ text: new_title });
			        
			    alert('Chart title changed to '+new_title+' !');
			    
			});
			});		
		</script>>
	</body>
</html>
